
body {
    background-color: #12124e;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
