@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* ---------------------------------------------------------------------------------------------*/
/* --------------------------------------- Scroll Effect ---------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/

body {
    background-color: #303033;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px); 
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;

}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

/* ---------------------------------------------------------------------------------------------*/
/* ----------------------------------- Image Behind Text ---------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 450%);
  }

.blur-darken {
    filter: brightness(50%) grayscale(25%) blur(5px); 
}